#contact{
    margin: 0px auto;
}
#contact .row{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.contact-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
.contact-left a{
    text-decoration: none;
    color: white;
}
.contact-left p{
    color: white;
    padding: 10px;
}
.contact-left p i{
    color: rgb(245, 135, 32);
    font-size: 25px;
}
.social-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items:center;
    margin-top: 16px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(245, 135, 32);
    transform: translateY(-5px);
}
.btn.btn2{
    background:rgb(245, 135, 32);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #dd9b20;
}
#msg{
    color: orange;
    margin-top: -40px;
    display: block;
}